---
const logoHref = "/";
---

<a
  target="_self"
  href={logoHref}
  class="w-[7rem] portrait:w-[10.25rem] text-3xl mr-auto ml-12 portrait:ml-7 cursor-pointer"
  aria-label="Yue Zone"
>
  YueZone
</a>
