---
const { title, subtitle, href } = Astro.props;
---

<li class="inline-block text-center mx-10 duration-300 hover:text-ark-blue">
  <a target="_self" {href} class="text-left">
    <div class="font-oswaldMedium text-[1.375rem]">{title}</div>
    <div class="text-[0.875rem]">{subtitle}</div>
  </a>
</li>
