---
import HeaderNavbarItem from "./HeaderNavbarItem.astro"
import { headerNavItems } from "../../store"
---

<nav class="portrait:hidden">
    <ul class="flex justify-evenly">
        {
            headerNavItems.get().map(item => <HeaderNavbarItem {...item} />)
        }
    </ul>
</nav>