---
import "../styles/global.css";
import Header from "../components/header/Header.astro";
---

<!doctype html>
<html lang="zh" class="w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>YueZone</title>
	</head>
	<body class="w-full h-full text-white bg-black m-0 overflow-hidden">
		<div class="w-full h-full relative bg-layout bg-center bg-cover bg-no-repeat">
			<div class="relative w-full h-full m-auto max-w-[180rem]">
				<Header />
				<slot />
			</div>
		</div>
	</body>
</html>
